.img{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.cardInscripcionesBox{
    border-bottom:5px solid var(--color-blueOscuro);
}

.cardInscripcionesContainer {
    position: relative;
}

.infoInscripcionesBox {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoInscripcionesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.textLeft {
    display: flex;
    flex-direction: column;
}


.textLeftParrafo {
    color: #A90504 !important;
    font-size: 35px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.textLeftSpan {
    color: #A90504 !important;
    font-weight: bold;
    font-size: 60px;
    display: block;
    margin: 0;
    padding: 0;
}


.textMiddle {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.textMiddleItemTitle {
    font-size: 4em;
    color: var(--color-blueOscuro);
}


.textMiddleItemParrafo {
    color: var(--color-blueOscuro);
    font-size: 1.5em;

}

.textRight {
    width: 13%;

}

.textRight img {
    width: 100%;
}