.button {
    border: none;
    margin-top: 20px;
    color: white;
    background-color: var(--color-blue);
    border: 5px solid white;
    font-size: 30px;
    font-weight: bold;
    padding: 14px 0;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.button:hover {
    background-color: var(--color-red);

}