.heroContainer {
    position: relative;
}
.img{
    width: 100%;
    height: calc(100vh - 93px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.heroContainer .imgHero {
    object-fit: cover;
    width: 100%;
}

.heroCard {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 20px;
    z-index: 1000;
}
.heroCardImg{
    max-width: 500px;
    width: 100%;
}
.heroInfo {
    background-color: #F9D955;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
}

.heroInfo img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border: 2px solid white;
}

.heroRight {
    flex: 1;
}

.heroInfo .textBue,
.textBueTitulo {
    color: #0049AB;
    text-align: center;
}

.textBue {
    font-size: 20px;
}

.textBueTitulo {
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.textRed {
    color: var(--color-red);
}

/* hero abajo */

.heroDown {
    padding: 20px 40px;
    color: white;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--color-blueOscuro);
}

.heroDown .title {
    margin-top: 10px;
}

.heroDownLeft {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.heroDownLeft img {
    width: 138px;
    height: auto;
    margin-right: 20px;
}


.heroDownInfoRight {
    flex: 1;
}


.heroDown p {
    font-size: 16px;
    line-height: 23px;
}

@media (max-width: 768px) {
    .heroDownLeft {
        width: 100%;
        
        flex-direction: column;
    }
    .heroCardImg{
        display: none;
    }
    .heroDown {
        padding: 20px 20px;
}
  }