.img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.cardInscripcionesContainer {
    position: relative;
}

.infoInscripcionesBox {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoInscripcionesContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textLeft {
    display: flex;
    flex-direction: column;
}


.textLeftParrafo {
    color: #A90504 !important;
    font-size: 35px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.textLeftSpan {
    color: #A90504 !important;
    font-weight: bold;
    font-size: 60px;
    display: block;
    margin: 0;
    padding: 0;
}


.textMiddle {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.textMiddleItemTitle {
    font-size: 34px;
    color: var(--color-blueOscuro);
}


.textMiddleItemParrafo {
    color: var(--color-blueOscuro);

}

.textRight {
    width: 13%;

}

.textRight img {
    width: 100%;
}
@media (max-width: 768px) {
    
    .img {
      height: 700px;
    }
    .infoInscripcionesContainer {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        padding: 20px 20px;
    }
    .textRight {
        width: 43%;
    
    }
    .textLeft{
        width: 100%;
    }
    
.textLeftParrafo {
    font-size: 25px;
}

.textLeftSpan {
    font-size: 40px;
}
.textMiddleItemTitle {
    font-size: 24px;
}


.textMiddleItemParrafo {
    color: var(--color-blueOscuro);

}

  }