.NivelesInfoDown{
    padding: 40px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--color-blueOscuro);
    flex-wrap: wrap;
}
.NivelesInfoLeft{
    width: 60%;
}
.NivelesInfoDown h2{
   margin-bottom: 10px;
}
.NivelesInfoDown p{
    margin-bottom: 10px;
 }
.imgNivelesInfoUp{
    width: 30%;
}
.imgNivelesInfoUp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
  .NivelesInfoDown{
    padding: 20px 20px;
    flex-direction: column-reverse;
  }
  .imgNivelesInfoUp{
    width: 80%;
    }
    .NivelesInfoLeft{
        width: 90%;
    }
  }