.galeriaContainer{
    width: 100%;
}
.cartelContainer{
    width: 100%;
    padding: 40px 50px;
    color: #FEFEFD;                             
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartel h1{
    font-size: 3.9em;
    font-weight: 800;

}
.cartel p{
    font-weight: 800;
}
.cartelInfoRight{
    width: 58%;
    
}

.cartelInfoRight h2{
    margin-bottom: 10px;
}
.listColumns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2px;
}
.galeria{
    width: 100%;
    padding: 40px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 10px;
}
.galeria img{
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .galeria{
        padding: 30px 30px;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        place-items: center;
    }
    .cartelContainer{
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .cartel h1{
        font-size: 1.9em;
        font-weight: 800;
    
    }
    .cartelInfoRight{
        width: 90%;
        margin-top: 30px;
    }
  }