.formContactoBox{
    width: 100%;
    padding: 40px 50px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.formInput{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.formInput input{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--color-blueOscuro);
    outline: none;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.formInput button{
    color: white;
    border: none;
    background-color: #A90504;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.formTitle{
    color: var(--color-blueOscuro);
    font-weight: 700;
    font-size: 26px;
}
.InfoContacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}
.InfoContacto h2{
    color: var(--color-blueOscuro);
}
.InfoContacto p{
    font-size: 16px;
    color: var(--color-blueOscuro);

}
.infoTitle{
    color: var(--color-blueOscuro);
    font-size: 36px;
}
.errors{
    color: #A82119;
    margin: 0px;
  }
  @media (max-width: 768px) {
    
    .formInput {
        align-items: center;
      }
    
      .inputGroup {
        width: 100%;
        max-width: 300px; 
        margin-left: auto;
        margin-right: auto;
      }
    
      .errors {
        font-size: 12px;
      }
      .InfoContacto {
        width: 100%; 
        padding: 10px; 
      }
    
      .infoTitle {
        font-size: 18px; 
      }
    
      .InfoContacto p {
        font-size: 14px; 
      }
    }
    