.TestimoniosBox {
    padding: 20px 60px;
    background-color: #FEFEFD;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;

}


.testimoniosDown{
    margin-top: 40px;
    
}
.testimoniosDownTitle{
    font-size: 24px;
    font-weight: 800;
}
.testimoniosDownParrafo{
    font-weight: 400;
    color: var(--color-blueOscuro);
}
.testimoniosDownCard{
    margin-top: 40px;
    width: 100% !important;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-left: 0px !important;
    margin-right: 0px !important;
    
    place-items: center;

}

.carrusel{
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    
}
.cardItemSlider{
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.carruselItem{
    width: 300px !important;
    margin-right: 20px;
}
/*MODALES*/
.modalBox{
    width: 100%;
    padding: 20px;
    color: var(--color-blueOscuro);
}
.modalBox h1{
    margin-bottom: 10px;
}
.containerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    width: 70%;
}
.info p{
    margin-top: 10px;
    color: var(--color-blueOscuro);
    line-height: 18px;
}
.imgModal{
    width: 18%;
}
.imgModal img{
    width: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    
    .TestimoniosBox {
        padding: 20px 20px;
        background-color: #FEFEFD;
    }
    .testimoniosDownTitle{
        font-size: 20px;
    }
    /*MODAL*/
    .modalBox{
        height: 500px;
        overflow-y: scroll;
    }
    .containerBox{
        flex-direction: column-reverse;
    }
    .imgModal{
        width: 60%;
    }
    .info{
        width: 100%;
    }
    .modalBox h1{
        text-align: center;
    }
  }