.contenedor{
  width: 100%;
  max-width: 1400px;
  padding: 20px 60px;
  margin: 0 auto;
  background-color: var(--color-yellow);

}
.NavbarContainer {

    display: flex;  
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-yellow);
}



.NavbarContainer .logoSanAgustin {
    width: 65px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid white;
}
.menu{
  display: none;
}
.imgMenu{
  width: 30px;
  cursor: pointer;
}
.NavbarItem {
    display: flex;
    gap: 43px;
    list-style: none;
    color: #1C57A7;
    z-index: 9999;
}

.NavbarItem li {
  width: fit-content;
    cursor: pointer;
}
.navItem {
    position: relative;
  }
  
  .navItem:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #1C57A7; 
  }
 
.nivelContainer{
    position: relative;
}
.niveles {
    background-color: #FEFEFD;
    color: #1C57A7;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
    position: absolute;
    z-index: 999999;
    top: 18px; 
    width: 128px;
  }
  .niveles p{
    cursor: pointer;
  }
 
/* contacto*/
  .contactoContainer{
    position: relative;
  }
  .contacto{
    background-color: #FEFEFD;
    color: #1C57A7;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: absolute;
    z-index: 10000;
    top: 18px; 
    left: -60px;
    width: 190px;
  }
  .contacto p{
    cursor: pointer;
  }
  .menuNone{
    display: none !important;
  }
  @media (max-width: 768px) {
    
    .NavbarItem {
      display: none;
    }

    .menu{
      display: block;
    }
    .contenedor {
      padding: 10px 30px;
    }
    .NavbarContainer .logoSanAgustin {
      width: 45px;
      object-fit: cover;
      cursor: pointer;
      border: 1px solid white;
    }
    
  }
@media (max-width: 767px) {
  .NavbarItemContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-yellow); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    z-index: 999999;
    height: 0; 
    overflow: hidden; 
    transition: height 0.3s ease-in-out; 
  }
  .NavbarItemContainer.showMenu {
    height: 100%; 
  }
  
  .closeButon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
   .NavbarItemContainer {
    height: 100%;
  }
   .NavbarItemContainer li {
    padding: 20px 0;
    text-align: center;
    width: 100%; 
    list-style: none;
    color: #1C57A7;
    width: fit-content;
  }

   .NavbarItemContainer li:last-child {
    border-bottom: none;
  }

   .nivelContainer,
   .contactoContainer {
    position: relative;
  }

   .nivelContainer:hover .niveles,
   .contactoContainer:hover .contacto {
    display: block;
  }

   .niveles,
   .contacto {
    display: none;
    position: absolute;
    top: 50px;
    left: -40px;
    background-color: #FEFEFD; 
    width: 200px; 
    padding: 10px 0;
  }

   .niveles p,
   .contacto p {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid white; 
  }

   .niveles p:last-child,
   .contacto p:last-child {
    border-bottom: none; 
  }
}

