.NavbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: var(--color-yellow);
}



.NavbarContainer img {
    width: 65px;
    object-fit: cover;
    cursor: pointer;
}

.NavbarItem {
    display: flex;
    gap: 10px;
    list-style: none;
    color: #1C57A7;
}

.NavbarItem li {
    cursor: pointer;
}