.Container{
    background-color: var(--color-yellow);
    padding: 20px;
}
.containerFooter{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    flex-wrap: wrap;

    color: var(--color-blueOscuro);
    border-bottom: 1px solid var(--color-blueOscuro);
    padding: 20px;
}

.containerFooterLogo{
    width: 100px;
    object-fit: cover;
    border: 1px solid white;
}
.footerTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footerDown{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    color: var(--color-blueOscuro);

}
.footerDownTitle{
    font-size: 14px;
}
.iconFooter{
    display: flex;
    align-items: center;
    gap: 10px;
}
