.cartelHeroContainer{
    padding: 40px 50px;
    width: 100%;
}
.cartelHeroContainer h1{
    font-size: 39px;
    color: white;
    font-weight: 800;

    margin-bottom: 10px;
}
.cartelHeroContainer p{
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
@media (max-width: 768px) {
    .cartelHeroContainer{
        padding: 20px 20px;
        
    }
    .cartelHeroContainer h1{
        font-size: 26px;
       
    }
    .cartelHeroContainer p{
        
        font-size: 16px;
    }
}