:root {
  --color-yellow: #FFD230;
  --color-blueOscuro: #212539;
  --color-blue: #0049AB;
  --color-blueButton: #494987;
  --color-red: #A82119;
  --font-lato: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato);
}
.containerWsp{
  position: fixed;
    right: 30px;
    top: 400px;
    cursor: pointer;
    z-index: 99999;
  
}