.NivelesBox {
    width: 100%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.NivelesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    
    .NivelesContainer {
      flex-direction: column;
    }
  }